body {
  background: #e4e3e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
}

.login {
  width: 400px;
  height: 400px;
  padding: 60px 35px 35px 35px;
  border-radius: 40px;
  background: #e4e3e9;
  box-shadow: 13px 13px 20px #cccbd1, -13px -13px 20px #ffffff;
  display: grid;
}

.login__title {
  text-align: center;
  font-size: 24px;
  color: #555;
  padding-bottom: 24px;
}

.login__fields input {
  border: none;
  outline: none;
  background: none;
  color: #555;
  height: 72px;
  font-size: 18px;
}

.login__fields svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}

.login__email,
.login__password {
  margin-bottom: 30px;
  border-radius: 28px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.login__signin {
  font-size: 18px;
  height: 72px;
  color: white;
  border-radius: 40px;
  border: unset;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
  background: linear-gradient(
    45deg,
    rgba(154, 114, 219, 1) 0%,
    rgba(165, 122, 236, 1) 50%,
    rgba(154, 114, 219, 1) 100%
  );
}

.login__signin:hover {
  background: rgba(165, 122, 236, 1);
}

.login__signin:active {
  background: rgba(154, 114, 219, 1);
}

.login__forgot-password {
  text-align: center;
  font-size: 14px;
}

.login__forgot-password a {
  color: rgb(140, 140, 140);
  text-decoration: none;
}

@media (max-width: 480px) {
  .login__title {
    font-size: 18px;
  }

  .login {
    width: 100%;
    height: 300px;
    padding: 0 8px;
    border-radius: 40px;
    box-shadow: unset;
  }

  .login__email,
  .login__password {
    margin-bottom: 16px;
  }

  .login__fields input {
    border: none;
    outline: none;
    background: none;
    color: #555;
    height: 48px;
    font-size: 12px;
  }

  .login__signin {
    font-size: 12px;
    height: 48px;
  }

  .login__forgot-password {
    font-size: 10px;
  }
}
